.custom-header {
  $header-height: 100px;
  .header-inner {
    height: $header-height;
    background-color: #212529;
    transition: all ease 600ms;
    @extend .flex-all-center;
    .container {
      height: 100%;
      padding: 0 0.75rem;
      flex: 1;
      @extend .flex-all-center;
      justify-content: space-between;
    }
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }
    &.transparency {
      background-color: transparent;
    }
    &:not(.transparency) {
      height: 70px;
      &:not(.fixed) {
        height: $header-height;
      }
    }
  }
  .nav-right {
    flex: 1;
    @extend .flex-all-center;
    justify-content: flex-end;
  }
  .header-nav {
    height: 100%;
    > a {
      display: inline-block;
      height: 100%;
      color: #fff;
      line-height: $header-height;
      font-size: 0.82rem;
      font-weight: 700;
      padding: 0 0.9rem;
      &.active {
        color: #e36159;
      }
    }
  }
}
@media (max-width: 991px) {
  .custom-header .header-nav {
    display: none;
  }
}
