.custom-footer {
  background: #212529;
  font-size: 0.9rem;
  padding: 3rem 0;
  color: #777;
  @media (min-width: 576px), (max-width: 992px) {
    .footer-middle,
    .footer-right {
      width: 50%;
    }
  }
  @media (min-width: 992px) {
    .footer-left {
      width: 50%;
    }
    .footer-middle,
    .footer-right {
      width: 25%;
    }
  }
  .footer-container {
    @extend .flex-wrap;
  }
  .footer-left {
    padding: 0 12px;
    box-sizing: border-box;
    .logo {
      opacity: 0.7;
    }
    p {
      margin-top: 12px;
    }
  }
  .footer-middle {
    .title {
      padding-bottom: 18px;
      &.opacity-0 {
        opacity: 0;
      }
    }
    .anticon {
      color: $primary;
      &.small {
        font-size: 12px;
        transform: scale(0.8);
      }
    }
    p {
      margin-top: 12px;
    }
    a {
      color: #777;
      text-decoration: none;
      padding-left: 10px;
      &:hover {
        color: #fff;
      }
    }
  }
}
